.link-text-1 {
    color: black;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
}

.link-text-2 {
    color: black;
     font-family: 'Josefin Slab', serif;
    font-weight: bold;
}



.nav-main {
    background: red ! important;
}

.brand-logo {
    color: #0275ae ! important;
    font-family: 'Kaushan Script', serif;
    
}

.response-button {
    color: black;
}

.main-text-1 {
     font-size: 100px ! important; font-family: 'Raleway', sans-serif ! important; font-weight: 800 ! important; color: white;
}


.main-text-2 {
     font-size: 40px ! important; font-family: 'Raleway', sans-serif ! important; font-weight: 800 ! important; color: white;
}

.main-section {
    background-image: url(img1.jpg);
}

.main-text-3 {
    color: white;
             font-family: 'Josefin Slab', serif;
    font-weight: bold;
}

.button-1 {
    font-size: 30px;
         font-family: 'Josefin Slab', serif;
    font-weight: bold;
}


.head-1 {
        font-size: 30px;
         font-family: 'Josefin Slab', serif;
    font-weight: bold;
}


.head-1-x {
        font-size: 50px;
         font-family: 'Josefin Slab', serif;
    font-weight: bold;
}


.head-2-x {
        font-size: 30px;
         font-family: 'Josefin Slab', serif;
    font-weight: bold;
    margin-top: 50px;
}


.head-text-x {
        font-size: 25px;
         font-family: 'Josefin Slab', serif;
}


.card-style-1 {
    background: white; padding-left: 15px; padding-bottom: 5px ! important; padding-right: 15px; padding-top: 5px ! important;  margin-bottom: 15px; margin-left: 20px; color: black ! important; font-family: 'Josefin Slab', serif;
    font-weight: bold ! important; border-radius: 17px;
}

.card-content {
    font-family: 'Josefin Slab', serif;
font-size: 17px;
    height: 220px;
}


.modal-content{
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
}

.modal-title {
     font-family: 'Josefin Slab', serif;
margin-top: -20px ! important;
    font-weight: bold;
}

label {
    font-family: 'Josefin Slab', serif;

    font-weight: bold;
}

.white-text {
      font-family: 'Josefin Slab', serif;

    font-weight: bold;
    font-size: 20px;
    color: #283593 ! important;
}



.white-text-head {
      font-family: 'Josefin Slab', serif;

    font-weight: bold;
    font-size: 30px;
    color: #000 ! important;
}



footer {
    background: #e3e3e3 ! important;
}


.table-head {
    font-family: 'Josefin Slab', serif;

    font-weight: bold;
}



.table-text {
        font-family: 'Josefin Slab', serif; font-size: 17px;
}



@media only screen and (max-width: 650px) {
    
    
    
    .main-text-2 {
     font-size: 20px ! important; font-family: 'Raleway', sans-serif ! important; font-weight: 800 ! important; color: white; margin-top: -20px;
}

   .main-text-1 {
     font-size: 30px ! important; font-family: 'Raleway', sans-serif ! important; font-weight: 800 ! important; color: white;
}
    
    .main-text-3 {
    color: white;
             font-family: 'Josefin Slab', serif;
    font-weight: bold;
        margin-bottom: -30px;
}
    
    
    .head-1-x {
        font-size: 40px ! important;
         font-family: 'Josefin Slab', serif;
    font-weight: bold;
}

    
    
    
    .modal-title {
 display: none;
}

    .close-close {
        display: none;
    
}
